@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

body {
    background-color: rgb(248, 248, 112);
    font-family: "IBM Plex Mono", serif;
    margin-top: 75px;
    padding: 0;
}

.screen {
    border: 5px solid rgb(0, 0, 0);
}

.screen-container {
    display: flex;
    justify-content: center;
}

.screen-orientation {
    width: 1347px;
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/menu/desert.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid black;
}

.title {
    text-align: center;
    font-size: 64px;
    text-shadow: 5px 5px darkgray;
}

#title-screen-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#button-container {
    display: flex;
    flex-direction: column;
    align-self: right;
    list-style: none;
    width: 800px;
}

button {
    font-weight: bold;
    font-size: 24px;
    width: 400px;
    height: 50px;
    margin: 10px;
    background-color: rgb(248, 248, 112);
    border-radius: 8px;
    border: 7px rgb(211, 211, 13) outset;
}

.pressed {
    border-style: inset;
}


a {
    text-decoration: none;
    color: black;
}

#title-screen-btn-img-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title-screen-content img {
    height: 152px;
}

#title-credit {
    text-align: center;
}

#title-credit img {
    width: 32px;
    height: 32px;
}

#player-name-prompt-popup {
    display: none;
    position: absolute;
    top: 350px;
    width: 400px;
    height: 200px;
    background-color: black;
    border: 16px double orange
}

#player-name-prompt-popup h3 {
    color: orange;
    text-align: center;
    font-size: 24px;
}

#game-start-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-name {
    width: 250px;
    height: 35px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

#game-start-input-button-container button {
    width: 150px;
    height: 50px;
    background-color: darkorange;
}


#highscore-title {
    font-size: 28px;
    font-weight: bold;
}

#highscore-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#highscore-container li {
    font-size: 20px;
}

#highscore-button-container {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    color: rgb(159, 159, 1);
}

#btn-highscore-return-to-menu {
    width: 300px;
    height: 50px;
    
}

#game-canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#game-over-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-retry {
    background-color: green;
}

#btn-return-to-menu {
    background-color: red;
}